{% if is_user_authenticated %}
    <h1>User password Successfully updated!</h1>
    <p>The password has been updated</p>
{% else %}
    <h1>Invalid user credentials!</h1>
    <p>Check if the username or password is correct</p>
{% endif %}